h1 {
    font-family: fira code;
}

body {
    background-color: #F4D06F;
}

.lista {
    font-size: 17px;
}

#tudo {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 520px;
    border: solid;
}

.mikaela {
    position: absolute;
    left: 50px;
    z-index: 1;
    width: 500px;
    left: 0px;
    border: solid;
    border-color: aquamarine;
}

.outro {
    border: ;
}

#scroll {
    width: 492px;
    height: 200px;
    overflow: auto;

}

li:hover {
    text-align: center;
    background-color: aquamarine;
    transition: 50%;
}

li:active {
    color: blueviolet;
}