h1 {
    font-family: fira code;
}

body {
    background-color: #F4D06F;
}

.lista {
    font-size: 17px;
}

#tudo {
    background-color: #9dd9d2;
    width: 50%;
    height: 200px;
    overflow: auto;
}